* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces {
    margin: 10px 10px 0 10px;
}

#workspaces button, #tray, #mode, #clock, #battery, #pulseaudio, #network, #cpu, #memory, #backlight {
    padding: 5px;
    background: rgba(30, 30, 30, 0.8);
    /* color: #BBBBBB; */
    color: #EEEEEE;
}

#workspaces button.focused {
    /* background: #F97A72; */
    background: #BC2C1A;
}

#tray, #mode, #clock, #battery, #pulseaudio, #network, #cpu, #memory, #backlight {
    margin: 10px 10px 0px 2px;
}

#mode {
    background: rgba(0, 0, 0, 0.8);
    color: #F97A72;
    margin: 10px 5px 0px 5px;
    padding: 5px;
}

#clock {
}

#battery {
}

#battery.charging {
    color: black;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: black;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
