window {
    margin: 5px;
    background-color: rgba(30, 30, 30, 0.8);
}

#input {
    margin: 5px;
    font-size: 20px;
    color: #EEEEEE;
    background-color: rgba(30, 30, 30, 0.8);
}

#inner-box {
    margin: 5px;
}

#outer-box {
    margin: 5px;
}

#scroll {
    margin: 5px;
}

#text {
    margin: 5px;
    font-size: 20px;
    color: #DDDDDD;
} 

#entry:selected {
    background-color: rgba(0,0,0,0);
}

#text:selected {
    background-color: none;
}
